


.selectedRecap{
    color: black;

}
.panel{
    color: white;
    display: inline-block;
}



.optionsTable{
    border-collapse: collapse;
}

.hidden{
    display: none;
}

#fillTable{
    background-color: #2bee63;
    cursor: pointer ;
    border-radius: 5%;
    border: solid 1px black;
}

.operatorClass{
    border: 1px black solid;
    height: 50%;
    vertical-align: middle;
    text-align: center;
    cursor: pointer;
}

.pointer-notAllowed{
    cursor: not-allowed;
}

.panel td:hover{
    opacity: 0.7;
}

td:nth-child(3) {
    align-content: left;
}

#checkboxes{
    vertical-align: middle;
    text-align: center;
}



/* Background-color of the odd rows */
.container  tr:nth-child(odd) td {
    background-color: #8bb7e7;
}

/* Background-color of the even rows */
.container tr:nth-child(even) td {
    background-color: #20bfd8;
}

.container th {
    background-color:  #08c1ff;
}


.container table td.not-allowed{
    cursor: not-allowed;
    background-color: dimgray;
}

.container table td.selected {
    background-color: rgba(20, 106, 109, 0.8);
}

table#sentenceTable{
    border-collapse: collapse;
    margin-top: 15px;
    margin-bottom: 15px;
}

#sentenceTable th{
    background-color: burlywood ;
    border: 1px black solid;
    width: 150px;
    
}

#sentenceTable td {
    background-color: burlywood;
    border: 1px black solid;
    vertical-align: middle;
    text-align: center;
    width: 150px;
    word-break: break-all;
}

table#summary{
    border-collapse: collapse;
    margin-top: 15px;
}

table#summary td{
    height: 30px;
    text-align: center;
}


#summary .relative{
    position: relative;
    width: 150px;
}

#summary .paddingLeft{
    padding-left: 50px;
}

table#summary .selectEtOu{
    border: none;
    vertical-align: bottom;
    background-color: transparent;
    position: absolute;
    bottom: -10px;
    right: 10px;
    z-index: 100;
}

table#summary .elementSelector{
    border: none;
    position: absolute;
    top: -13px;
    left: 1px;
    z-index: 100;
}

#bgChanger{
    background-color: transparent;
}

table#summary .remove{
    border: none;
    vertical-align: center;
    background-color: transparent;
    z-index: 100;
    cursor: pointer;
    position: absolute;
}

table#summary .removeDiv{
    border: solid 1px #000;
    border-radius: 50%;
    background-color: rgb(248, 11, 11);
    height: 25px;
    width: 25px;
    position: absolute;
}

table#summary .removeButton{
    border-radius: 20%;
    border: solid 1px black;
    background-color: white;
    height: 5px;
    width: 24px;
    display: flex;
    top: 9px;
    position: relative;
}


#queryButton{
    margin-top: 15px;
}